.character-right{
    width: 300px;
    height: auto;
}

.generate{
    text-align:center;
}


.characters {
    display: flex;
    flex-direction: row;
}

form {
    text-align:center;
    margin: 50px 200px;
}


input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    /* margin: 8px 0; */
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.submit {
    width: 100%;
    background-color: var(--primary-color);
    color: var(--font-color);
    padding: 14px 20px;
    /* margin: 8px 0; */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add{
    text-align: center;
}

.addRow{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: var(--font-color);
}