@charset "utf-8";
@import url(./fonts.css);

/* css variables */ 
@import url(./variables.css);

/* header css */
@import url(./header.css);

/* characters css */
@import url(./characters.css);

/* home css */
@import url(./home.css);

/* loading screen css */
@import url(./loadingscreen.css);

body {
    margin: 0;
    padding: 0;
}

#bg-image
{
    background: url('../media/img/bg.png') ;
    width:  100%; 
    height: 400rem;
    background-size: calc(100%);
    background-position: center;
    background-repeat: no-repeat;
    left: 0rem;
    top: 0rem;
    z-index:-1;
    position: absolute;
}

/* #bg-image{
    border: 2px solid black;
    background: url('../media/img/bg.png') ;
    overflow: visible;
    position: absolute;
    width: 100%; 
    width: 100vw;
    height: auto;  
    left: 0rem;
    top: 0rem;
    z-index: -1;
    background-size: calc(100%);
} */

#bg-image2{
    background: url('../media/img/bg2.png');
    
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0; 

    z-index: -1;
}