@charset "utf-8";
@import url(./fonts.css);

/* css variables */ 
@import url(./variables.css);


h1, h2, form, .info {margin:35px}

#title{
    font: normal 30px/ 42px var(--genshin);
    text-align: center;
    color: white;
}
.guessing-game{
    color:white;
}

#home{
    text-align: center;
}

#home-info{
    text-align: center;
}

#home-box{
    text-align: center;
    background: #4b3e3e;
    opacity: 50%;
    margin: 0 auto;
    width: 10%;
}

#number-list{
    list-style-type: none;
    padding: 5px 0 0 0;
    margin: 0 auto;
}

#bg-image {
    background:url('../media/bg.png') -25px -50px;
    position:fixed ;
    top:0;
    width:100%;
    z-index:-1;
    height:100%;
    background-size: calc(100% + 200px);
    filter: blur(5px);
}

#main-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4b3e3e;
}

#main-nav li{
    display:inline;
    float: left;

}

#main-nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#main-nav li a:hover {
    background-color: #111;
}


#main-nav-logo{
    float: right;
    box-sizing: border-box;
    width: 50px;
    /* top, left, bottom, right */
    padding: 5px 0 0 0; 
    /* margin: 0 auto; */
    margin: 2px 3px 4px 5px;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: rgb(216, 144, 120);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.page{
    text-align: center;
    color:white;
}


#debug {
    border-radius: 5px;
    font-size: 20px;
    font-weight: 300;
    padding: 0.5rem;
    margin: 2px;
    cursor: pointer;
    text-transform: uppercase;
    display:flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

#debug:hover {
    color: wheat;
}
