/* font: normal 15px/ 15px var(--roboto); */

#main-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--primary-color);
}

#main-nav li{
    display:inline;
    float: left;
}

#main-nav li a {
    display: block;
    color: var(--font-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#main-nav li a:hover {
    background-color: var(--hover-color);
}